<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/grilla.css" />
    <link rel="stylesheet" href="../../styles/estilos.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
  </head>
  <body>

    <div class="body-bg">
      <nav>
        <input type="checkbox" class="hiden" id="menuBoton" />
        <div class="flex items-center justify-between p-4 movil">
          <div class="movil">
            <img
              src="../../images/logo-variante.png"
              class="neon" style="width: 100px; margin-top: 1rem"
            />
          </div>
          <label for="menuBoton"
            ><span class="icon-menu text-main"></span
          ></label>
        </div>
        <div class="flex items-center justify-between">
          <div class="web p-4">
            <img
              src="../../images/logo-variante.png"
              class="neon"
              style="width: 135px; margin-top: 1rem"
            />
          </div>
          <ul class="items">
            <li><a href="#" class="p-4">Inicio</a></li>
            <li><a href="#" class="p-4">Historias</a></li>
            <li><a href="#" class="p-4">Articulos</a></li>
            <li><a href="#" class="p-4">Acerca de</a></li>
            <li><a href="#" class="p-4">Contacto</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
