<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/grilla.css" />
    <link rel="stylesheet" href="../../styles/estilos.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
  </head>
  <body>
    <div class="body-bg">
      <nav>
        <input type="checkbox" class="hiden" id="menuBoton" />
        <div class="flex items-center justify-between p-4 movil">
          <h1 class="title">Menu</h1>
          <label for="menuBoton"
            ><span class="icon-menu text-main"></span
          ></label>
        </div>
        <div class="flex items-center justify-between">
            <h1 class="title web p-4">
                Menu
            </h1>
            <ul class="items">
               <li><a href="#" class="p-4 link">Inicio</a></li>
               <li><a href="#" class="p-4 link">Historias</a></li>
               <li><a href="#" class="p-4 link">Articulos</a></li>
               <li><a href="#" class="p-4 link">Acerca de</a></li>
               <li><a href="#" class="p-4 link">Contacto</a></li> 
            </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
